.container-fluid{
        background-color:#1f2326
}

.col-sm-4 {
        background-color: #4ac6ec;
}

h2 {
        color: #4ac6ec;
}

h2 {
        font-family: system-ui;
        font-weight: 300;
}

body {
        font-family: Inherit;
        background-color: #4ac6ec;
}

.col-sm-3 {
        color: #4ac6ec;
}

.col-sm-9 {
        color: #4ac6ec;
}

.dataTables_wrapper {
        background-color: #4ac6ec;
        border: solid;
}

.datatables {
        color: #333;
        border: solid;
}